<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  修改网页关键词及描述 -->
    <meta name="keywords" content="tcm" />
    <meta name="description" content="本网页用来进行化合物库的比较分析" />
    <meta name="revised" content="当前版本：v1.0" />

    <title>TCMIO Browse</title>
    
    <link rel="shortcut icon" href="static/img/favicon.ico">
	<!--  bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css"/> -->
    
    <!--  custom-style -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- for chemdoodle -->
    <script src="../static/js/ChemDoodleWeb-libs.js"></script>
    <script src="../static/js/ChemDoodleWeb-unpacked.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
    <![endif]-->

</head>
<body>
    <nav class="navbar navbar-inverse navbar-lg navbar-expand-lg" role="navigation" style="border-radius: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/index">TCMIO</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/index">Home</a></li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li class="targets"><a href="/browse/targets">Target</a></li>
                            <li class="ligands"><a href="/browse/ligands">Ligand</a></li>
                            <!-- <li role="separator" class="divider"></li>
                            <li class="dropdown-header">xxx header</li> -->
                            <li class="ingredients"><a href="/browse/ingredients">Ingredient</a></li>
                            <li class="tcms"><a href="/browse/tcms">TCM</a></li>
                            <li class="prescriptions"><a href="/browse/prescriptions">Prescription</a></li>
                        </ul>
                    </li>
                    <li><a href="/structure">Structure</a></li>
                    <li><a href="/moa">MOA</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse</a></li>
            <li class="active"></li>
        </ol>

        <table id="targets" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>GeneName</th>
                    <th>Function</th>
                    <th>ProteinFamily</th>
                    <th>UniprotId</th>
                    <th>ChemblId</th>
                    <th>EcNumber</th>
                    <!-- <th>Kegg</th>
                    <th>Pdb</th>
                    <th>Mass</th>
                    <th>Length</th> -->
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="ligands" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Mol</th>
                    <th>Name</th>
                    <th>IngredientId</th>
                    <th>ChemblId</th>
                    <!-- <th>Smiles</th> -->
                    <!-- <th>Inchi</th>
                    <th>Inchikey</th> -->
                    <th>Formula</th>
                    <th>MolWeight</th>
                    <th>Hba</th>
                    <th>Hbd</th>
                    <th>Rtb</th>
                    <th>Alogp</th>   
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="ingredients" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Mol</th>
                    <th>Name</th>
                    <!-- <th>Synonyms</th> -->
                    <th>Smiles</th>
                    <!-- <th>Inchi</th>
                    <th>Inchikey</th> -->
                    <th>LigandId</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="tcms" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ChineseName</th>
                    <th>PinyinName</th>
                    <th>EnglishName</th>
                    <th>UsePart</th>
                    <th>PropertyFlavor</th>
                    <th>ChannelTropism</th>
                    <th>Effect</th>
                    <th>Indication</th>
                    <th>RefSource</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <table id="prescriptions" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>ChineseName</th>
                    <th>PinyinName</th>
                    <th>Ingredients</th>
                    <th>Indication</th>
                    <th>Effect</th>
                    <th>RefSource</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright © 2019 xxx  All rights reserved.</p>
        </div>
    </footer>
        <!-- End Home -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js'></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <!-- <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script> -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.colVis.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/fixedcolumns/3.3.0/js/dataTables.fixedColumns.min.js"></script>

    <script type="text/javascript" charset="utf8" src="../static/js/common.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/chemdoodleInitial.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/tables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/getList.js"></script>
</body>
</html>