<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  修改网页关键词及描述 -->
    <meta name="keywords" content="tcm" />
    <meta name="description" content="本网页用来进行化合物库的比较分析" />
    <meta name="revised" content="当前版本：v1.0" />

    <title>TCMIO MOA</title>
    
    <link rel="shortcut icon" href="static/img/favicon.ico">
	<!--  bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/css/flat-ui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" integrity="sha256-iq5ygGJ7021Pi7H5S+QAUXCPUfaBzfqeplbg/KlEssg=" crossorigin="anonymous" />

    <!--  custom-style -->    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

    <!-- for chemdoodle -->
    <script src="../static/js/ChemDoodleWeb-libs.js"></script>
    <script src="../static/js/ChemDoodleWeb-unpacked.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
    <![endif]-->

</head>
<body>

    <nav class="navbar navbar-inverse navbar-lg navbar-expand-lg" role="navigation" style="border-radius: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="/index">TCMIO</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
                        <span class="dropdown-arrow"></span>
                        <ul class="dropdown-menu">
                            <li class="prescriptions"><a href="/browse/prescriptions">Prescription</a></li>
                            <li class="tcms"><a href="/browse/tcms">TCM</a></li>
                            <li class="ingredients"><a href="/browse/ingredients">Ingredient</a></li>
                            <li class="targets"><a href="/browse/targets">Target</a></li>
                            <li class="ligands"><a href="/browse/ligands">Ligand</a></li>
                        </ul>
                    </li>
                    <li><a href="/structure">Structure</a></li>
                    <li class="active"><a href="/moa">MOA</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Select TCMs or Prescription
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="btn-group searchTypes">
                            <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" type="button"><span class='searchType'>Herb</span>&nbsp;<span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                                <li><a href="javascript:void(0)" value='tcms'>Herb</a></li>
                                <li><a href="javascript:void(0)" value='prescriptions'>Prescription</a></li>
                            </ul>
                        </div>
            
                        <div class="btn-group searchParams">
                            <button data-toggle="dropdown" class="btn btn-inverse dropdown-toggle" type="button"><span class='searchParam'>EnglishName</span>&nbsp;<span class="caret"></span></button>
                            <ul role="menu" class="dropdown-menu">
                                <li class='enName'><a href="javascript:void(0)" value='english_name'>EnglishName</a></li>
                                <li class='pyName'><a href="javascript:void(0)" value='pinyin_name'>PinyinName</a></li>
                                <li class='cnName'><a href="javascript:void(0)" value='chinese_name'>ChineseName</a></li>
                            </ul>
                        </div>

                        <div class="btn-group searchValue">
                            <select multiple="multiple" class="tcmsenglish_name form-control multiselect multiselect-info">
                            </select>
                            <select multiple="multiple" class="tcmspinyin_name form-control multiselect multiselect-info">
                            </select>
                            <select multiple="multiple" class="tcmschinese_name form-control multiselect multiselect-info">
                            </select>
                            <select multiple="multiple" class="prescriptionspinyin_name form-control multiselect multiselect-info">
                            </select>
                            <select multiple="multiple" class="prescriptionschinese_name form-control multiselect multiselect-info">
                            </select>
                        </div>

                        <div class="btn-group search">
                            <a href="javascript:void(0)" class="btn btn-block btn-primary">Search</a>
                            <!-- <button class="btn btn-primary">Search</button> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default result">
                <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Network
                    </a>
                </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <p class="legend">
                        <strong>Legend:&nbsp;</strong>
                        <img class="legend-item" src="../static/img/pills.svg" alt="TCM-legend">
                        <span>TCM</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <img class="legend-item" src="../static/img/pills.svg" alt="Ingredient-legend">
                        <span>Ingredient</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <img class="legend-item" src="../static/img/pills.svg" alt="Ligand-legend">
                        <span>Ligand</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                        <img class="legend-item" src="../static/img/pills.svg" alt="Target-legend">
                        <span>Target</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-primary js-saveCanvas">Save as Picture</button>
                    </p>
                    <div id="relationChart"></div>
                </div>
                </div>
            </div>
            <div class="panel panel-default pathway">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Pathway
                    </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        <table id="pathways" class="table table-hover table-striped" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Term</th>
                                    <th>Count</th>
                                    <th>Percent</th>
                                    <th>Pvalue</th>
                                    <th>Genes</th>
                                    <th>ListTotal</th>
                                    <th>PopHits</th>
                                    <th>PopTotal</th>
                                    <th>FoldEnrichment</th>
                                    <th>Bonferroni</th>
                                    <th>Benjamini</th>
                                    <th>FDR</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright © 2019 <a href=''>GDIM</a> All rights reserved.</p>
        </div>
    </footer>
    <!-- End Home -->

	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="moleculeDetails">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title item_name" id="nodeName">Name</h4>
				</div>
				<div class="modal-body table-responsive">
					<table class="info">
						<tbody>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/flat-ui/2.3.0/js/flat-ui.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js" integrity="sha256-JuQeAGbk9rG/EoRMixuy5X8syzICcvB0dj3KindZkY0=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/canvas2image.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/jquery.base64.js"></script>

    <script type="text/javascript" charset="utf8" src="../static/js/common.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/tables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/network_data2.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/network.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/js/search.js"></script>
    
</body>
</html>