/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/* body {
    margin-bottom: 60px;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.container .uk-table {
    display: none;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.dataTables_wrapper {
    margin-bottom: 70px;
}

#targets td {
    word-break:break-all;
}

#prescriptions td {
    word-break:break-all;
}

#ligands td{
    word-break:break-all;
}

#tcms td{
    word-break:break-all;
}

#ingredients td{
    word-break:break-all;
}

table.info {
    table-layout: fixed;
}

table.info tr {
    font-size: 16px;
    padding: 20px 0;
}

table.info th {
    width: 20%;
    padding: 10px 0;
}

table.info td {
    width: 80%;
    word-break: break-all;
    padding: 10px 0;
}
