/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

/* body {
    margin-bottom: 60px;
} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 10px 15px 0;
}

.container .text-muted {
    margin: 20px 0;
}

.container .uk-table {
    display: none;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.page-header {
    margin: 30px 0 !important;
}
.page-header h1,
.page-header h2,
.page-header h3{
    margin-bottom: 0;
}

.navbar .container, .navbar .container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.dataTables_wrapper {
    margin-bottom: 70px;
}

#targets td {
    word-break:break-all;
}

#prescriptions td {
    word-break:break-all;
}

#ligands td{
    word-break:break-all;
}

#tcms td{
    word-break:break-all;
}

#ingredients td{
    word-break:break-all;
}

table.info {
    table-layout: fixed;
    width: 100%;
}

table.info tr {
    font-size: 16px;
    padding: 20px 0;
}

table.info th {
    width: 15%;
    padding: 10px 0;
}

table.info td {
    word-break: break-all;
    padding: 10px 0;
}

.dataTables_length label {
    font-size: 18px !important;
}
.dt-buttons {
    /* position: relative; */
    /* display: inline-block; */
    /* vertical-align: middle; */
    margin: 0 10px;
    float: right !important;
}

.dt-button-collection {
    margin-top: 0;
}

.select {
    min-width: 70px !important;
}

/* Structure.html */

.menuContent h3 {
    padding-bottom: 3px;
    border-bottom: gainsboro solid 2px;
}

.structureBtns {
    margin: 0 auto;
}

.thresholds {
    margin: 0 20px;
}

/* MOA.html */
.tcmsEnglishName,
.tcmsPinyinName,
.tcmsChineseName,
.prescriptionsPinyinName,
.prescriptionsChineseName {
    display: None;
}

.btn-group {
    padding-top:5px;
    padding-bottom:5px;
}