<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  修改网页关键词及描述 -->
    <meta name="keywords" content="tcm" />
    <meta name="description" content="本网页用来进行化合物库的比较分析" />
    <meta name="revised" content="当前版本：v1.0" />

    <title>TCMIO Home</title>
    
    <link rel="shortcut icon" href="static/img/favicon.ico">
	<!--  bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--  custom-style -->
    <link href="../static/css/stick-footer.css" rel="stylesheet"> 
	<!-- <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet"> -->

    <!--  font style  -->
    <!-- <link href="static/fonts/FontAwesome/font-awesome.css" rel="stylesheet"> -->
    
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- <noscript class="noscript bg-warning text-danger">Javascript is required for this site !</noscript>
    <div id="myAlert" class="alert alert-warning fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <strong>Warning！</strong>Your browser version is too low, please download IE9 and above or other browsers.
    </div> -->
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TCMIO</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Target</a></li>
                            <li><a href="#">Ligand</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">xxx header</li>
                            <li><a href="#">Ingredient</a></li>
                            <li><a href="#">TCM</a></li>
                            <li><a href="#">Prescription</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">Structure</a></li>
                    <li><a href="#about">MOA</a></li>
                    <li><a href="#contact">Help</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul> -->
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- End Navigation -->

    <!-- Start Home -->
    <div class="container">
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Navbar example</h1>
            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
            <p>To see the difference between static and fixed top navbars, just scroll.</p>
            <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
            </p>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">Copyright © 2019 xxx  All rights reserved.</p>
        </div>
    </footer>
    <!-- End Home -->
    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- <script src="static/js/common.js"></script> -->
</body>
</html>
