<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  修改网页关键词及描述 -->
    <meta name="keywords" content="tcm" />
    <meta name="description" content="本网页用来进行化合物库的比较分析" />
    <meta name="revised" content="当前版本：v1.0" />

    <title>TCMIO Target</title>
    
    <link rel="shortcut icon" href="static/img/favicon.ico">
	<!--  bootstrap  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.15/css/jquery.dataTables.css">
    <!--  custom-style -->
    <link href="../static/css/stick-footer.css" rel="stylesheet">
</head>
<body>
    <!-- Start Navigation -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">TCMIO</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Target</a></li>
                            <li><a href="#">Ligand</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">xxx header</li>
                            <li><a href="#">Ingredient</a></li>
                            <li><a href="#">TCM</a></li>
                            <li><a href="#">Prescription</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">Structure</a></li>
                    <li><a href="#about">MOA</a></li>
                    <li><a href="#contact">Help</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
                    <li><a href="../navbar-fixed-top/">Fixed top</a></li>
                </ul> -->
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- End Navigation -->
    
    <div class="container">
        <!--第二步：添加如下 HTML 代码-->
        <table id="table_id_example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Gene</th>
                    <th>Uniprot ID</th>
                    <th>ChEMBL ID</th>
                    <th>Reference</th>
                    <th>PDB</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>EGFR</td>
                    <td>EGFR</td>
                    <td>P00533</td>
                    <td>CHEMBL4289</td>
                    <td>DOI: 23898978</td>
                    <td>2JFI 4D5P 5DPG</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>EGFR</td>
                    <td>EGFR</td>
                    <td>P00533</td>
                    <td>CHEMBL4289</td>
                    <td>DOI: 23898978</td>
                    <td>2JFI 4D5P 5DPG</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>EGFR</td>
                    <td>EGFR</td>
                    <td>P00533</td>
                    <td>CHEMBL4289</td>
                    <td>DOI: 23898978</td>
                    <td>2JFI 4D5P 5DPG</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>EGFR</td>
                    <td>EGFR</td>
                    <td>P00533</td>
                    <td>CHEMBL4289</td>
                    <td>DOI: 23898978</td>
                    <td>2JFI 4D5P 5DPG</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer class="footer">
            <div class="container">
                <p class="text-muted">Copyright © 2019 xxx  All rights reserved.</p>
            </div>
        </footer>
        <!-- End Home -->
    
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            var table = $('#table_id_example').DataTable({
                // serverSide: true,
                // ajax: {
                //     url: '/target',
                //     type: 'GET',
                //     // data: 发送给服务器的参数
                //     data: {}, 
                //     // dataSrc: 接受到的服务器数据
                //     dataSrc: function ( msg ) {
                //         console.log(msg);
                //         for ( var i=0, ien=msg.length ; i<ien ; i++ ) {
                //             msg[i][0] = '<a href="/message/'+msg[i][0]+'">View message</a>';
                //         }
                //         return msg;
                //     }
                // },
                pagingType:   "full_numbers",
                language: {
                    "lengthMenu": "每页 _MENU_ 条记录",
                    "zeroRecords": "没有找到记录",
                    "info": "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
                    "infoEmpty": "无记录",
                    "infoFiltered": "(从 _MAX_ 条记录过滤)"
                },
                stateSave: true
            });
            
            //给按钮绑定点击事件
            $("#table_id_example_button").click(function () {
                var url = 'targets/id/' + '';
                var column1 = table.row('.selected').data().column1;
                var column2 = table.row('.selected').data().column2;
                alert("第一列内容："+column1 + "；第二列内容： " + column2);
            });
        });
    </script>
</body>
</html>